@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
*{
  font-family: 'Bangers', cursive;
}
body{

  background: #282c34 !important; padding: 18px 14px;
}
.center-allign{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-allign .search-wrapper{
  min-width: 500px;
}
.beer-image-holder{
  max-height: 220px;
}
.text-small{
  font-size: 14px;
}